[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.ngc.nvidia.com"
verify_ssl = true
name = "pypingcnvidia"

[packages]
numba = "*"
numpy = "*"
torch = "*"
tqdm = "*"
more-itertools = "*"
tiktoken = "==0.3.1"
ffmpeg-python = "==0.2.0"
onnx = "*"
onnxruntime-gpu = "*"
torchsummary = "*"
onnxsim = "*"
onnx-graphsurgeon = {version = "*", index = "pypingcnvidia"}
librosa = "*"

[dev-packages]

[requires]
python_version = "3.10"
